<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hack.bigred15.uberquiz" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.wake_lock" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="hack.bigred15.uberquiz.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="hack.bigred15.uberquiz.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="hack.bigred15.uberquiz" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="" >
            <intent-filter android:label="UberQ" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label=""
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hack.bigred15.uberquiz.MainActivity" />
        </activity>
        <activity
            android:name=".StartGameActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".JoinGameActivity"
            android:label=""
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hack.bigred15.uberquiz.MainActivity" />
        </activity>
        <activity
            android:name=".QuizActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="" >
        </activity>


    </application>

</manifest>
